POSTGRES_USER=nugadesk
POSTGRES_PASSWORD=<CHANGE_ME>
POSTGRES_DB=nugadesk
SECRET_KEY=<CHANGE_ME_RANDOM_64_HEX>
AUTH_USERNAME=admin
AUTH_PASSWORD=<CHANGE_ME>
CORS_ORIGINS=http://localhost:5173,https://work.nugabox.com
